
python/.idea/modules.xml
*.xml
python/.idea/python.iml
python/.idea/.name
python/translateTools/.idea/translateTools.iml
python/translateTools/.idea/.name
python/practice/scrapy_2/novel/novel/spiders/dingdian.py
